@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 relative;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.v-popper--theme-custom-tooltip .v-popper__inner {
  @apply bg-black text-gray-300 rounded-[5px] py-1 px-3;
}

.v-popper--theme-custom-tooltip .v-popper__arrow-outer {
  @apply border-black;
}
